body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; z-index:0;}
#search {
	position: fixed; 
  top: 350px;
	z-index:2;
	display: none;
}
#driving {
	position: fixed; 
  bottom: -5px;
	z-index:2;
	display: none;
}

#summary {
  position: fixed; 
  bottom: -5px;
	z-index:2;
	padding: 0
}

.mapboxgl-ctrl-logo{
	opacity: 0;
}
.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib.mapboxgl-compact::after {
	opacity: 0;
}